[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "plausible-hugo"]
	path = plausible-hugo
	url = https://github.com/divinerites/plausible-hugo.git
